<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Juan Gallardo - {% block title %}{% endblock %}</title>
        <meta
            name="description"
            content="Juan Gallardo's web development portfolio"
            />

        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            rel="icon" type="image/svg+xml" href="/img/full-logo.svg">
        <meta charset="utf-8" />

        <link
            href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap"
            rel="stylesheet"
            />

        <link
            rel="stylesheet"
            type="text/css"
            href="/css/style.css"
            media="screen"
            />

        <script>
            /*to prevent Firefox FOUC, this must be here*/
            let FF_FOUC_FIX;
        </script>
        <script src="https://unpkg.com/feather-icons"></script>
    </head>

    <body>
        <header class="my-header">
            <a class="my-header-content" href="/">
                <img class="portrait" src="/img/portrait.jpg"
                    alt="Juan Gallardo's portrait
                    picture">

                <section class="site-title">
                    <h1>Juan Gallardo</h1>
                    <p>Web Developer</p>
                </section>
            </a>
        </header>

        <main id="main">
            <nav class="my-navbar">
                <ul>
                    <li>
                        <a href="/"> <i data-feather="home"></i> </a>
                    </li>
                    <li>
                        <a href="/projects/"> Projects </a>
                    </li>
                    <li>
                        <a href="/resume/"> Resume </a>
                    </li>
                </ul>
            </nav>
            <section class="main-content">
                {% block content %}
                {% endblock %}
            </main>
        </section>

        <footer></footer>

        <script>
            feather.replace()
          </script>
    </body>
</html>
<!DOCTYPE html>