{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<!-- <header class="page-title">
</header> -->

<main class="home-container">
  <section class="slogan">
    <p>I'm a full-stack developer in Edmonton, Alberta!</p>
  </section>

  <ul class="external-links">
    <li>
      <a href="https://www.linkedin.com/in/jgallardo-dev/"
        target="_blank">
        <i data-feather="linkedin"></i>
      </a>
      <p>linkedin.com/in/jgallardo-dev</p>
    </li>
    <li>
      <a href="https://github.com/Juan-G-04"
        target="_blank">
        <i data-feather="github"></i>
      </a>
      <p>github.com/Juan-G-04</p>
    </li>
    <li>
      <a href="mailto:juan.gallardo.ab@gmail.com">
        <i data-feather="mail"></i>
      </a>
      <p>juan.gallardo.ab@gmail.com</p>
    </li>
    <li>
      <a href="/resume/" target="_blank">
        <i data-feather="phone"></i>
      </a>
      <p>780-862-9404</p>
    </li>
  </ul>
</main>
{% endblock %}
