{% extends "base.html" %}

{% block title %}Projects{% endblock %}

{% block content %}
<header class="page-title">
    <h2>Projects</h2>
</header>

<main class="projects-container">
    <article class="project">
        <header>
            <h3>Portfolio</h3>
        </header>
        <main>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Earum,
                voluptatibus commodi? Modi sequi blanditiis similique magni,
                tenetur
                assumenda, exercitationem ea doloremque sint, facilis
                voluptates
                adipisci a autem aut ullam totam?Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Culpa necessitatibus porro
                dignissimos ipsum quisquam delectus impedit quod autem
                doloremque adipisci, inventore voluptas vitae neque sequi
                ipsam vero, sunt nulla quos.
            </p>

            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Earum,
                voluptatibus commodi? Modi sequi blanditiis similique magni,
                tenetur
                assumenda, exercitationem ea doloremque sint, facilis
                voluptates
                adipisci a autem aut ullam totam?Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Culpa necessitatibus porro
                dignissimos ipsum quisquam delectus impedit quod autem
                doloremque adipisci, inventore voluptas vitae neque sequi
                ipsam vero, sunt nulla quos.
            </p>
        </main>
    </article>

    <article class="project">
        <header>
            <h3>Ascended Guild</h3>
        </header>
        <main>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Earum,
                voluptatibus commodi? Modi sequi blanditiis similique magni,
                tenetur
                assumenda, exercitationem ea doloremque sint, facilis
                voluptates
                adipisci a autem aut ullam totam?Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Culpa necessitatibus porro
                dignissimos ipsum quisquam delectus impedit quod autem
                doloremque adipisci, inventore voluptas vitae neque sequi
                ipsam vero, sunt nulla quos.
            </p>

            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Earum,
                voluptatibus commodi? Modi sequi blanditiis similique magni,
                tenetur
                assumenda, exercitationem ea doloremque sint, facilis
                voluptates
                adipisci a autem aut ullam totam?Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Culpa necessitatibus porro
                dignissimos ipsum quisquam delectus impedit quod autem
                doloremque adipisci, inventore voluptas vitae neque sequi
                ipsam vero, sunt nulla quos.
            </p>
        </main>
    </article>

    <article class="project">
        <header>
            <h3>Tweeter</h3>
        </header>
        <main>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Earum,
                voluptatibus commodi? Modi sequi blanditiis similique magni,
                tenetur
                assumenda, exercitationem ea doloremque sint, facilis
                voluptates
                adipisci a autem aut ullam totam?Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Culpa necessitatibus porro
                dignissimos ipsum quisquam delectus impedit quod autem
                doloremque adipisci, inventore voluptas vitae neque sequi
                ipsam vero, sunt nulla quos.Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Culpa necessitatibus porro
                dignissimos ipsum quisquam delectus impedit quod autem
                doloremque adipisci, inventore voluptas vitae neque sequi
                ipsam vero, sunt nulla quos.
            </p>

            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Earum,
                voluptatibus commodi? Modi sequi blanditiis similique magni,
                tenetur
                assumenda, exercitationem ea doloremque sint, facilis
                voluptates
                adipisci a autem aut ullam totam?Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Culpa necessitatibus porro
                dignissimos ipsum quisquam delectus impedit quod autem
                doloremque adipisci, inventore voluptas vitae neque sequi
                ipsam vero, sunt nulla quos.Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Culpa necessitatibus porro
                dignissimos ipsum quisquam delectus impedit quod autem
                doloremque adipisci, inventore voluptas vitae neque sequi
                ipsam vero, sunt nulla quos.
            </p>
        </main>
    </article>

    <article class="project">
        <header>
            <h3>Renova Contracting</h3>
        </header>
        <main>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Earum,
                voluptatibus commodi? Modi sequi blanditiis similique magni,
                tenetur
                assumenda, exercitationem ea doloremque sint, facilis
                voluptates
                adipisci a autem aut ullam totam? Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Culpa necessitatibus porro
                dignissimos ipsum quisquam delectus impedit quod autem
                doloremque adipisci, inventore voluptas vitae neque sequi
                ipsam vero, sunt nulla quos.
            </p>

            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Earum,
                voluptatibus commodi? Modi sequi blanditiis similique magni,
                tenetur
                assumenda, exercitationem ea doloremque sint, facilis
                voluptates
                adipisci a autem aut ullam totam?Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Culpa necessitatibus porro
                dignissimos ipsum quisquam delectus impedit quod autem
                doloremque adipisci, inventore voluptas vitae neque sequi
                ipsam vero, sunt nulla quos.
            </p>
        </main>
    </article>
</main>
{% endblock %}
