.home-container {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 1fr auto;
  place-items: center;

  .slogan {
    grid-column: 1;
    font-size: xx-large;
  }

  .external-links {
    grid-column: 2;
    width: max-content;
    display: flex;
    flex-direction: column;

    li {
      display: flex;
      align-items: center;
    }

    a {
      padding: 1rem;
    }
  }
}
