.my-navbar {
  ul {
    list-style-type: none;
    display: flex;
    height: 2rem;
    align-items: stretch;

    li {
      background-color: #292e34;
      flex: 1;

      a {
        display: flex;
        transition: color 0.2s ease-in-out;
        color: #ccc;
        text-decoration: none;
        height: 100%;
        align-items: center;
        justify-content: center;

        &:hover {
          background-color: #393f44;
          color: white;
        }
      }
    }
  }
}
